body{
	font-family: sans-serif;
}

#header{
	max-width: 95%;
	min-width: 500px;
	background-color: #0000A2;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 5px;
	height: 40px;
}

#headerLogo{
	background: url('/assets/logo.png');
	width: 388px;
	height: 30px;
	margin: 5px 0px 0px 5px;
}

#loginLinks{
	float: right;
	margin-top: 15px;
}

.headerButton{
	text-decoration: none;
	background-color: #CCE7FF;
	padding: 5px;
	border-radius: 5px;
	color: #0000A2;
}

.headerButton:hover{
	color: white;
	background-color: #0000A2;
}

/*.headerButton:visited{
	color: inherit;
}*/

#navBar{
	background-color: #CCE7FF;
	max-width: 300px;
	overflow-x: visible;
	float: left;
	margin-left: 10px;
}

#navLinks{
	min-width: 350px;
}

#navLinks li {
	list-style-type: none;
	max-width: 30%;
	min-width: 400px;
	/*min-height: 60px;*/
	max-height: 65px;
	background: url('/assets/navLinkBackground.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5px 0px 5px 0px;
	color: white;
	margin-bottom: 5px;
}

#navLinks li:hover{
	background: url('/assets/navLinkBackgroundHover.png');
	background-size: contain;
	background-repeat: no-repeat;
	color: black;
}

#navLinks li a {
	text-decoration: none;
	margin-top: 20px;
	margin-left: 10px;
	padding: 0px 150px 0px 20px;
	color: inherit;
	font-size: 1.5em;
}

#navLinks li a:hover{
	text-decoration: underline;
}

#content{
	float: left;
	width: 50%;
	margin-left: 100px;
}

/* TODO: Update widths to be more mobile-friendly */