<!DOCTYPE html>
<html>
	<head>
		<title>You Can Quit Today!</title>
		<%= stylesheet_link_tag "layoutStyle" %>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="navBar">
			<ul id="navLinks">
				<li>Home</li>
			</ul>
		</div>	
		<div id="content">
			<%= yield -%>
		</div>
	</body>
</html>